/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [DB_CORP]    Script Date: 10/25/2017 4:21:19 PM ******/
CREATE DATABASE [DB_CORP]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_CORP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_CORP]
GO
USE [DB_CORP]
GO
/****** Object:  Table [dbo].[AGUINALDO]    Script Date: 10/25/2017 4:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGUINALDO](
	[Codigo_Aguinaldo] [int] NOT NULL,
	[Codigo_Empleado] [int] NOT NULL,
	[Aguinaldo_Empleado] [float] NULL,
	[Anno_Pagado] [datetime] NULL,
 CONSTRAINT [PK_AGUINALDO] PRIMARY KEY CLUSTERED 
(
	[Codigo_Aguinaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENIDO_PLANILLA]    Script Date: 10/25/2017 4:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENIDO_PLANILLA](
	[Id_Contendio_Planilla] [int] NOT NULL,
	[Codigo_Empleado] [int] NOT NULL,
	[Periodo_Pago] [int] NULL,
	[Salario_Bruto] [float] NULL,
	[Salario_Neto] [float] NULL,
	[Id_Planilla] [int] NOT NULL,
	[Id_Planta] [nchar](10) NULL,
 CONSTRAINT [PK_CONTENIDO_PLANILLA] PRIMARY KEY CLUSTERED 
(
	[Id_Contendio_Planilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 10/25/2017 4:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Codigo_Empleado] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Fecha_Ingreso] [datetime] NULL,
	[Fecha_Salida] [datetime] NULL,
	[Salario_Bruto] [float] NULL,
	[Departamento] [varchar](50) NULL,
	[Supervisor] [int] NULL,
	[Tipo_Empleado] [int] NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[Codigo_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORICO_PLANILLA]    Script Date: 10/25/2017 4:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO_PLANILLA](
	[Id_Planilla] [int] NOT NULL,
	[Id_Planta] [int] NOT NULL,
	[Fecha_Generada] [date] NULL,
	[Pagado] [int] NULL,
 CONSTRAINT [PK_HISTORICO_PLANILLA] PRIMARY KEY CLUSTERED 
(
	[Id_Planilla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTA]    Script Date: 10/25/2017 4:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTA](
	[Id_Planta] [int] NOT NULL,
 CONSTRAINT [PK_PLANTA] PRIMARY KEY CLUSTERED 
(
	[Id_Planta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_EMPLEADO]    Script Date: 10/25/2017 4:21:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_EMPLEADO](
	[Codigo_Tipo] [int] NOT NULL,
	[Salario_Hora] [float] NULL,
	[Salario_Extra] [float] NULL,
	[Cantidad_Horas_Semana] [int] NULL,
 CONSTRAINT [PK_TIPO_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[Codigo_Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGUINALDO]  WITH CHECK ADD  CONSTRAINT [FK_AGUINALDO_EMPLEADO] FOREIGN KEY([Codigo_Aguinaldo])
REFERENCES [dbo].[EMPLEADO] ([Codigo_Empleado])
GO
ALTER TABLE [dbo].[AGUINALDO] CHECK CONSTRAINT [FK_AGUINALDO_EMPLEADO]
GO
ALTER TABLE [dbo].[CONTENIDO_PLANILLA]  WITH CHECK ADD  CONSTRAINT [FK_CONTENIDO_PLANILLA_EMPLEADO] FOREIGN KEY([Codigo_Empleado])
REFERENCES [dbo].[EMPLEADO] ([Codigo_Empleado])
GO
ALTER TABLE [dbo].[CONTENIDO_PLANILLA] CHECK CONSTRAINT [FK_CONTENIDO_PLANILLA_EMPLEADO]
GO
ALTER TABLE [dbo].[CONTENIDO_PLANILLA]  WITH CHECK ADD  CONSTRAINT [FK_CONTENIDO_PLANILLA_HISTORICO_PLANILLA] FOREIGN KEY([Id_Planilla])
REFERENCES [dbo].[HISTORICO_PLANILLA] ([Id_Planilla])
GO
ALTER TABLE [dbo].[CONTENIDO_PLANILLA] CHECK CONSTRAINT [FK_CONTENIDO_PLANILLA_HISTORICO_PLANILLA]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_EMPLEADO] FOREIGN KEY([Codigo_Empleado])
REFERENCES [dbo].[EMPLEADO] ([Codigo_Empleado])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_EMPLEADO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_TIPO_EMPLEADO] FOREIGN KEY([Tipo_Empleado])
REFERENCES [dbo].[TIPO_EMPLEADO] ([Codigo_Tipo])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_TIPO_EMPLEADO]
GO
ALTER TABLE [dbo].[HISTORICO_PLANILLA]  WITH CHECK ADD  CONSTRAINT [FK_HISTORICO_PLANILLA_PLANTA] FOREIGN KEY([Id_Planilla])
REFERENCES [dbo].[PLANTA] ([Id_Planta])
GO
ALTER TABLE [dbo].[HISTORICO_PLANILLA] CHECK CONSTRAINT [FK_HISTORICO_PLANILLA_PLANTA]
GO
USE [master]
GO
